// * Fonts
@font-face {
    font-family: "Inter";
    src: url("/fonts/Inter-Bold.woff") format("woff2"),
        url("/fonts/Inter-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter-Medium.woff2') format('woff2'),
        url('/fonts/Inter-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter-SemiBold.woff2') format('woff2'),
        url('/fonts/Inter-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

// * Importing Scss Files
@import "../sass/abstracts/variables";
@import "../sass/abstracts/mixins";
@import "../sass/abstracts/extends";

@import "../sass/base/reset";
@import "../sass/base/typography";
@import "../sass/base/utilities";
@import "../sass/base/normalize";

@import "../sass/components/buttons";
@import "../sass/components/forms";
@import "../sass/components/cards";

@import "../sass/layout/footer";
@import "../sass/layout/header";
@import "../sass/layout/navigation";
@import "../sass/layout/container";

@import "../sass/pages/home";
@import "../sass/pages/utilization";

