// * Colors
$primary-color: #161718FF;
$second-color:#191919FF;
$black-color: #000;
$dark-color-1:#272727FF;
$dark-color-2: #474747;
$grey-color-1:#9E9E9E;
$grey-color-2:#9F9F9F;
$grey-color-3:#C2C2C2;
$grey-color-4:#A1A1A1;
$red-color:#940303;
$color-white: #fff;

// * Border Radiuses
$border-radius-1: 15px;
$border-radius-2: 10px;
$border-radius-3: 48px;

// * Primary Sizes
$primary-size: 1.25rem;
$primary-weight: 500;
$primary-font: "Inter",
sans-serif;
$primary-line-height: 1.2;