.container{
    max-width:1623px;
    margin: 0 auto;
    width: 100%;
    padding-right: 30px;
    padding-left: 30px;
    @include responsive(xxl){
        min-width: 90vw;
    }
    @include responsive(lg){
        min-width: 95vw;
    }

}