.button{
    border-radius: $border-radius-3;
    padding: 15px 34px;
    color: $color-white;
    &__hero{
        @include transition;
        &:first-child{
            background-color: $black-color;
        }
        &:last-child{
            background-color: $red-color;
        }
        &:hover{
            background-color: #fff;
            color: $black-color;
        }
        @include responsive(sm){
            font-size: 20px;
        }
        @include responsive(xs){
            font-size: 16px;
            padding: 10px 22px ;
        }
    }
}