// * Hero Section Styles
.hero {
    background-image: url("/images/hero/hero-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 50px 0 115px 0;

    @include responsive(md) {
        padding: 50px 0 85px 0;
    }
    @include responsive(xxs) {
        padding: 20px 0 60px 0;
    }

    &__content {
        @include flex(center, center, column);
        color: $color-white;
    }

    &-swiper {
        width: 100%;

        .swiper-button-next,
        .swiper-button-prev {
            color: $color-white;
            border-radius: 0;
            opacity: 1;
        }

        .swiper-button-prev {
            left: 0;
        }

        .swiper-button-next {
            right: 0;
        }

        .swiper-button-next::after,
        .swiper-button-prev::after {
            font-size: 60px;
            color: $color-white;

            @include responsive(sm) {
                font-size: 50px;
            }

            @include responsive(xs) {
                font-size: 35px;
            }
            @include responsive(xxs) {
                font-size: 25px;
            }
        }

        .swiper-pagination-bullet {
            background: $color-white;
            width: 20px;
            height: 20px;
            opacity: .5;

            &-active {
                opacity: 1;
            }
            @include responsive(xs) {
                width: 16px;
                height: 16px;
            }
        }
        @include responsive(xxs){
            .swiper-pagination{display: none;}
        }
    }

    .swiper-wrapper {
        padding-bottom: 80px;
        @include responsive(xxs){
            padding-bottom: 0;
        }
    }

    &__slide {
        width: 1020px;
        margin: 0 auto;
        @include flex(center, center, column);
        text-align: center;

        @include responsive(lg) {
            width: 85%;
        }
    }

    &__suptitle {
        @include flex(flex-start, center, row);
        gap: 10px;
        padding: 12px 19px;
        background-color: $red-color;
        border-radius: $border-radius-3;
        margin-bottom: 32px;
        cursor: pointer;

        span {
            font-size: 18px;
        }

        @include responsive(lg) {
            margin-bottom: 24px;
        }

        @include responsive(sm) {
            margin-bottom: 15px;

            img {
                width: 20px;
                height: 20px;
            }

            span {
                font-size: 16px;
            }
        }

        @include responsive(xs) {
            padding: 9px 21px;
            img {
                width: 16px;
                height: 16px;
            }

            span {
                font-size: 14px;
            }
        }

    }

    &__title {
        font-weight: 700;
        font-size: 70px;
        line-height: 85px;
        margin: 0;
        margin-bottom: 32px;

        @include responsive(lg) {
            font-size: 60px;
            line-height: 125%;
            margin-bottom: 24px;
        }

        @include responsive(md) {
            font-size: 55px;
        }

        @include responsive(sm) {
            font-size: 45px;
            margin-bottom: 15px;
        }

        @include responsive(xs) {
            font-size: 30px;
        }
        @include responsive(xxs) {
            font-size: 24px;
        }
    }

    &__description {
        color: $grey-color-1;
        margin-bottom: 68px;

        @include responsive(lg) {
            margin-bottom: 55px;
            font-size: 22px;
        }

        @include responsive(sm) {
            margin-bottom: 55px;
            font-size: 20px;
        }

        @include responsive(xs) {
            margin-bottom: 45px;
            font-size: 16px;
        }
        @include responsive(xxs) {
            margin-bottom: 0px;
            font-size: 14px;
        }
    }

    &__buttons {
        @include flex(center, center, row);
        gap: 20px;

        @include responsive(xs) {
            gap: 15px;
        }
        @include responsive(xxs) {
            display: none;
        }
    }
}